In [1]:
import pandas as pd
import numpy as np

In [2]:
trans = pd.read_csv('num_trans_cp.csv')

In [3]:
trans.describe()

,cp,y2015,y2016,y2017,y2018,y2019,y2020,prom_trans
count,1137.000000,1137.000000,1137.000000,1137.000000,1137.000000,1137.000000,1137.000000,1137.000000
mean,8573.206684,17.197010,26.679859,24.692172,15.202287,21.613896,12.569041,14.883026
std,4718.018330,40.075697,63.925266,61.968772,40.332088,53.340303,28.525483,32.018521
min,1000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4489.000000,1.000000,2.000000,1.000000,0.000000,1.000000,1.000000,1.000000
50%,8320.000000,4.000000,7.000000,5.000000,3.000000,5.000000,4.000000,4.500000
75%,13180.000000,15.000000,25.000000,22.000000,14.000000,19.000000,13.000000,14.500000
max,16900.000000,509.000000,946.000000,939.000000,661.000000,695.000000,426.000000,399.000000

In [38]:
#trans.prom_trans.value_counts().sort_values().tail(20)
#trans.prom_trans.sort_values().value_counts().head(50)

In [5]:
trans.prom_trans.quantile([.8, .85, .9, .95])

0.80    19.0
0.85    26.0
0.90    37.5
0.95    61.5
Name: prom_trans, dtype: float64

In [7]:
trans["transacciones"] = ""

i = 0

while i < len(trans):
    
    if trans.prom_trans[i] >= 37:
        trans.at[i, 'transacciones'] = "clave"
    i += 1

In [8]:
imp = trans[['mun', 'cp', 'transacciones']].copy()
imp['cp'] = imp['cp'].astype('str')

In [9]:
imp["cp_bien"] = ""

i = 0

while i < len(imp):
    
    if len(imp.cp[i]) == 4:
        imp.at[i, 'cp_bien'] = "0"+ imp.cp[i]
    else:
        imp.at[i, 'cp_bien'] = imp.at[i, 'cp']
    i += 1

In [10]:
imp.cp = imp.cp_bien
imp.drop("cp_bien", axis = 1, inplace=True)

In [26]:
imp.transacciones.value_counts()

         1017
clave     120
Name: transacciones, dtype: int64

In [12]:
precios = pd.read_csv('precios.csv')

In [13]:
precios['cp'] = precios['cp'].astype('str')

In [14]:
precios["cp_bien"] = ""

i = 0

while i < len(precios):
    
    if len(precios.cp[i]) == 4:
        precios.at[i, 'cp_bien'] = "0"+ precios.cp[i]
    else:
        precios.at[i, 'cp_bien'] = precios.at[i, 'cp']
    i += 1

In [15]:
precios.cp = precios.cp_bien
precios.drop("cp_bien", axis = 1, inplace=True)

In [16]:
precios

,mun,cp,y2015,y2016,y2017,y2018,y2019,y2020
0,Alvaro Obregon,01000,29120.63636,36815.07143,52709.16667,47903.363840,42332.56201,51667.285690
1,Alvaro Obregon,01010,35824.13333,36854.18182,40023.83721,42888.308840,57513.65635,52772.886480
2,Alvaro Obregon,01020,31883.84211,38663.14286,45527.60377,48214.751400,56365.94590,50693.921220
3,Alvaro Obregon,01030,29951.22222,32907.59649,43514.37209,44123.288690,47782.46945,40339.978790
4,Alvaro Obregon,01040,47150.00000,46395.00000,43783.50000,45716.676600,57398.79031,89876.285720
...,...,...,...,...,...,...,...,...
656,Xochimilco,16400,14240.25000,14919.00000,14860.50000,17520.970950,18727.26771,17932.533310
657,Xochimilco,16500,11465.00000,14838.66667,8118.00000,16508.037520,16018.84644,15257.089140
658,Xochimilco,16770,8120.00000,8560.00000,10014.66667,9927.841738,13849.33791,7021.428571
659,Xochimilco,16780,14491.00000,13038.00000,18999.50000,11704.340880,13369.54064,9506.603958
660,Xochimilco,16797,12649.40000,13444.60000,14650.90909,14854.579880,16036.31740,16191.744450

In [17]:
precios['cp_3'] = precios['cp'].str[:3]
precios = precios[['mun', 'cp','cp_3', 'y2015', 'y2016', 'y2017', 'y2018', 'y2019', 'y2020']]

In [18]:
precios_cp = pd.merge(precios, imp,  how='right', left_on=['mun','cp'], right_on = ['mun','cp'])
# averiguar por con how en izquierda no sale lo que quiero

In [19]:
precios = precios_cp.copy()

In [20]:
precios["edo"] = ""

i = 0

while i < len(precios):
        if precios.y2020[i] > 0 and ( np.isnan(precios.y2019[i]) & np.isnan(precios.y2018[i]) & np.isnan(precios.y2017[i]) & np.isnan(precios.y2016[i]) & np.isnan(precios.y2015[i]) ):
            precios.at[i, "edo"] = "bien"
        elif precios.y2020[i] > 0 and precios.y2019[i] > 0  and (np.isnan(precios.y2018[i]) & np.isnan(precios.y2017[i]) & np.isnan(precios.y2016[i]) & np.isnan(precios.y2015[i])):
            precios.at[i, "edo"] = "bien"
        elif precios.y2020[i] > 0 and (precios.y2019[i] > precios.y2018[i])  and (np.isnan(precios.y2017[i]) & np.isnan(precios.y2016[i]) & np.isnan(precios.y2015[i])):
            precios.at[i, "edo"] = "bien"
        elif precios.y2020[i] > 0 and (precios.y2019[i] > precios.y2018[i] > precios.y2017[i]) and (np.isnan(precios.y2016[i]) & np.isnan(precios.y2015[i])):
            precios.at[i, "edo"] = "bien"
        elif precios.y2020[i] > 0 and (precios.y2019[i] > precios.y2018[i] > precios.y2017[i] > precios.y2016[i]) and (np.isnan(precios.y2015[i])):
            precios.at[i, "edo"] = "bien"
        elif precios.y2020[i] > 0 and (precios.y2019[i] > precios.y2018[i] > precios.y2017[i] > precios.y2016[i] > precios.y2015[i]):
            precios.at[i, "edo"] = "bien"
        else:
            precios.at[i, "edo"] = "mal"
        i += 1

In [27]:
precios.head()

,mun,cp,cp_3,y2015,y2016,y2017,y2018,y2019,y2020,transacciones,edo
0,Azcapotzalco,02000,020,20717.25000,18982.20000,28172.94667,23633.25290,29057.40561,29388.25813,,mal
1,Azcapotzalco,02010,020,16489.00000,18616.20000,17631.57143,24408.74712,20475.08322,19812.04813,,mal
2,Azcapotzalco,02020,020,20751.55738,26029.50549,27386.83158,27478.50663,27226.77011,27047.71210,clave,mal
3,Azcapotzalco,02040,020,23732.31250,17424.00000,18574.00000,24416.08283,24688.00911,20947.81822,,mal
4,Azcapotzalco,02050,020,17924.56667,15809.82353,17860.42857,21614.85344,20048.33006,21977.56796,,mal

In [28]:
precios.transacciones.value_counts()

         1017
clave     120
Name: transacciones, dtype: int64

In [29]:
precios.edo.value_counts()

mal     1031
bien     106
Name: edo, dtype: int64

In [35]:
interes = (precios['transacciones'] == 'clave') & (precios['edo'] == 'bien')

In [37]:
len(precios[interes])

24